<div class="card">
        <div class="card-body row">
       
            <div class="col-sm-1">
            <img src="/Twitter.png" class="rounded-img" height="50px" width="50px"></img>
            </div>
            <div class="col-sm-11">
           
            <%= form_for(@newPost) do |f| %>

  <div class="field" style="margin-left: 10px;">
    <%= f.text_field :content, autofocus: true, class: "form-control" %>
    <span class="btn btn-submit" style="float: right"><%= f.submit "Dodaj tekst" %></span>
  </div>
<% end %>
            
            </div>
        </div>
    </div>




