<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Izbriši komentar', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Da li ste sigurni?' } %>
</p>