
<div class="row">
    <div class="col-3">
        <div class="card">
            <!--<img class="card-img-top" src="zdravljelogo.png" height="20px" width="20px" alt="Zdravlje">-->
                <div class="card-body row">
                    <div class="col-sm-12">
                        <img src="/zdravljelogo.png" height="50px" width="auto" class="rounded-img">
                    </div>
                    <!--<div class="col-sm-10">
                        
                    </div>-->
                    <div class="col-sm-12 row" style="margin-top: 10px;">
                        
                        <div class="col-sm-12" style="font-size: 90%; opacity: 0.7;">Prirodni sokovi, svježe voće i povrće.
                        </div>
                    </div>
                </div>
        </div>
        
</div>
<div class="col-6">
    

    

     <div class="card mb-3 row">

        <div class="card-header col-sm-12">
        <!--<div class="col-sm-3">
            <img src="/zdravljelogo.png" class="rounded-img" height="40px" width="100px"></img>
        </div>-->

            <h3 class="post-title" style="color:black">Zdravlje d.o.o.</h3>
        
        </div>

        <div class="card-body">
       
            <div class="col-sm-12">
            
            <p class="card-text">
            <p><img class="img-responsive" src="third_image.jpg" alt="Sok od aronije" style="float:left; width:50%; height:50%; margin-right:1em;"></p>
            <p><b>Zdravlje d.o.o.</b> se bavi uzgojem, otkupom i prodajom aronije, kao i ostalog voća i povrća. Naša primarna 
                        djelatnost je punjenje 100% prirodnih sokova od aronije. Sjedište firme je u Sarajevu, dok u okolini Sarajeva
                        ima postrojenje za punjenje sokova i hladnjaču. Na lokaciji gdje se nalaze postrojenje i hladnjača se obavlja
                        otkup voća, proizvodnja prirodnog soka od aronije, skladištenje, te veleprodaja i odvoz voća. Zdravlje d.o.o.
                        također posjeduje više lokacija za uzgoj aronije na području Bosne i Hercegovine.</p>

            </div>

            <div class="col-sm-12">
            &nbsp
            </div>
        </div>

        <div class="card-header col-sm-12">
        <!--<div class="col-sm-3">
            <img src="/zdravljelogo.png" class="rounded-img" height="40px" width="100px"></img>
        </div>-->

            <h3 class="post-title" style="color:black">Usluge</h3>
        
        </div>

        <div class="card-body">
       
            <div class="col-sm-12">
            
            <p class="card-text">
            <p><img class="img-responsive" src="fourth_image.jpg" alt="Voće" style="width:100%; height:100%;"></p>
            <h4>Otkup voća</h4>
            <hr>
            <p>Zdravlje d.o.o. otkupljuje aroniju i drugo sezonsko voće.
                Primljeno voće se sortira, kalibrira, skladišti i po potrebi pakira. 
                Posebno napominjemo da je svo voće koje otkupljujemo iz Bosne i Hercegovine i općenito potičemo i uvijek tražimo nove dugoročne partnere za saradnju. 
                Uz sami otkup voća, nudimo i uslugu iznajmljivanja skladišnog prostora hladnjače.</p>
                <br>
                
                <h4>Veleprodaja</h4>
                <hr>
				<p>Na lokaciji gdje se nalaze punionica sokova i hladnjača također se vrši veleprodaja i odvoz voća.
                    Zdravlje d.o.o. je veleprodajni dobavljač nekoliko trgovačkih lanaca u Bosni i Hercegovini. 
                    Naše sokove od aronije i voće možete naći u većini gradova diljem BiH</p>

            </div>

            <div class="col-sm-12">
            &nbsp
            </div>
        </div>

    </div>


   
   

    <div class="card row"> <!--fixed footer code>> style="bottom: 0; position: fixed; width: 570px;-->
        <div class="card-body">
            <div class="col-sm-12">
            <!--<center><img src="/Twitter.png" height="25px" width="25px"></img>-->
             <div style="text-align: center; opacity: .7">© Zdravlje 2018</div>
            <center>
                <br>
                
                <a href="http://www.facebook.com"><img src="/Facebook.png" style="width:32px; height:32px" alt="Facebook"></a>
                <a href="http://www.twitter.com"><img src="/Twitter.png" style="width:32px; height:32px" alt="Twitter"></a>
                <br>
                <hr>
            <a href="#top"><p class="opacity: .7;">Vrati se na vrh <%= octicon "arrow-up" %></p></a></center>
            </div>
        </div>
    </div>

</div>


<div class="col-3">
        
        <div class="card">
                <div class="card-body">
                    <iframe width="300" height="300" frameborder="0" style="border:0"
        <script>

                    function myMap()
                    {
                        myCenter=new google.maps.LatLng(43.8573, 18.40275);
                        var mapOptions= {center:myCenter, zoom:12, scrollwheel: true, draggable: true,
                        mapTypeId:google.maps.MapTypeId.ROADMAP
                        };
                        var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

                        var marker = new google.maps.Marker({position: myCenter,
                        });
                        marker.setMap(map);
                    }
						
					</script>
					</div>

					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANaoRqCq9KsHe_mWAHV-byVh212OK-VwU&callback=myMap"></script>
                    </iframe>
                </div>
        </div>
    </div>
</div>

<!--pocetak drugog reda (row 2)

<div class="row">
<div class="col-3">
    <div class="card">
        <div class="card-body">
        <p>trends</p>
        </div>
    </div>
</div>
</div>

</div>-->