
<div class="row">
    <div class="col-3">
        <div class="card">
            <!--<img class="card-img-top" src="zdravljelogo.png" height="20px" width="20px" alt="Zdravlje">-->
                <div class="card-body row">
                    <div class="col-sm-12">
                        <img src="/zdravljelogo.png" height="50px" width="auto" class="rounded-img">
                    </div>
                    <!--<div class="col-sm-10">
                        <h4 style="margin-left:20px;"><%= current_user.username %></h4>
                    </div>-->
                    <div class="col-sm-12 row" style="margin-top: 10px;">
                        <!--<div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                        </div>
                        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                            <h6 style="color:#0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                        </div>-->
                        <div class="col-sm-12" style="font-size: 90%; opacity: 0.7;">Zdrava ishrana, prirodni sokovi i svježe voće i povrće.
                        </div>
                    </div>
                </div>
        </div>
        
</div>
<div class="col-6">
    

    

     <div class="card mb-3 row">

        <div class="card-header   col-sm-12">
        <!--<div class="col-sm-3">
            <img src="/zdravljelogo.png" class="rounded-img" height="40px" width="100px"></img>
        </div>-->

            <h3 class="post-title" style="color:black">NASLOV</h3>
        
        </div>

        <div class="card-body">
       
            <div class="col-sm-12">
            
            <p class="card-text">TEXT</p>

            </div>

            <div class="col-sm-12">
            &nbsp
            </div>
        </div>
    </div>


    <div class="card bg-transparent mb-3 row">
         &nbsp
    </div>
   

    <div class="card row">
        <div class="card-body">
            <div class="col-sm-12">
            <!--<center><img src="/Twitter.png" height="25px" width="25px"></img>-->
            <div style="text-align: center; opacity: .7">© Zdravlje 2018</div>
            <center>
                <br>
                
                <a href="http://www.facebook.com"><img src="/Facebook.png" style="width:32px; height:32px" alt="Facebook"></a>
                <a href="http://www.twitter.com"><img src="/Twitter.png" style="width:32px; height:32px" alt="Twitter"></a>
                <br>
                <hr>
            <a href="#top"><p class="opacity: .7;">Vrati se na vrh <%= octicon "arrow-up" %></p></a></center>
             
            </div>
        </div>
    </div>

</div>


<div class="col-3">
    
</div>

<!--pocetak drugog reda (row 2)

<div class="row">
<div class="col-3">
    <div class="card">
        <div class="card-body">
        <p>trends</p>
        </div>
    </div>
</div>
</div>

</div>-->