<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Nastavi sa kupovinom', items_path, class: 'button is-warning' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Isprazni korpu', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
      <hr>
        <span class="f5 has-text-grey">Ukupno:</span> <%= (@cart.total_price) %> KM
      </h4>
    </div>
  </div>
</section>